.element__title{
    font-size: 3rem;
    margin-left: .1em;
}
.list_header{
    margin-bottom:1em;
}
.icon{
    font-size: 2.5rem;
}
.item_title{
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    
}


.item_header{

 display: block;
 margin-left: 3rem;
  
}
.orage{
    color: orange ;
}
.yellowDark{
    color: rgb(117, 117, 0) ;
}
.yellow{
    color: yellow ;
}
.green{
    color: rgb(11, 199, 11) ;
}
.blueDark{
    color: rgb(6, 6, 136);
}
.blueClear{
    color: rgb(46, 61, 201);
}
.pinkClear{
    color: rgb(241, 184, 194);
}
.pinkDark{
    color: rgb(247, 83, 110);
}
.purpleDark{
    color: purple !important;
   
}
.orageDark{
    color: rgb(100, 65, 1);
}
.brownClear{
    color: rgba(143, 60, 60, 0.829);
}

.brownDark{
    color: rgba(97, 18, 18, 0.835);
}
.greenDark{
    color:green ;
}
.undefined{
    color: red;
}


.page__img{
    position: absolute;
    top: 80px;
    opacity: .3;
}