.symbol{
    font-size: 3.4em ;
    text-align: center;
   
}
.name{
    text-align: center;
    
}

.symbol{
    color: inherit;
}
.header{
    display: flex;
    justify-content: space-between;
}

.number_atom{
    font-size: 1.3rem;
    font-weight: bolder;
    color: inherit;
    
}

.col{
    align-items: center;
    justify-content: center;
    background-color: red;
}
.row{

    background-color: blue;
}
.name{
    font-size: 1em;
    color: black;
    font-weight: 200;
}
/* "alkaline earth metal":"orage",
"post-transition metal":"yellowDark",
"transition metal":"yellow",
"metalloid":"green",
"polyatomic nonmetal":"blueDark",
"diatomic nonmeta":"blueClear",
"noble gas":"purpleDark",
"lanthanide":"pinkClear",
"actinide":"pinkDark" */

.card{
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    
}
.orage{
    color: orange !important;
}
.yellowDark{
    color: rgb(117, 117, 0) !important;
}
.yellow{
    color: yellow !important;
}
.green{
    color: rgb(11, 199, 11) !important;
}
.blueDark{
    color: rgb(6, 6, 136);
}
.blueClear{
    color: rgb(46, 61, 201);
}
.pinkClear{
    color: rgb(241, 184, 194);
}
.pinkDark{
    color: rgb(247, 83, 110);
}
.purpleDark{
    color: purple !important;
   
}
.orageDark{
    color: rgb(100, 65, 1);
}
.brownClear{
    color: rgba(143, 60, 60, 0.829);
}

.brownDark{
    color: rgba(97, 18, 18, 0.835);
}
.greenDark{
    color:green ;
}
.undefined{
    color: red;
    border: 1 solid red
}