IonItem{
    --ion-background-color: transparent !important
}

.img{
    width: 20px;
}

.title{
    font-size: 3rem;
    margin: .7em;
    text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 900;
    display: block;
}

.select{
    width: 100%;

}

.select__option{
    display: block !important;
}